/* Media Queries */

@media (max-width: 600px) {
    
    #header {
        margin-top: 50px;
        margin: auto;
        padding: 10 10;
        font-size: 20px;
        text-align: center;
    } 
    
    #header .vl {
        height: 300px;
        top: 475px;
    }

    #about {
        padding: 0 0;
        justify-content: center;
        margin-left: auto;
    }

    #about img {
        width: 220px;
        height: 300px;
        margin: auto;
        padding-bottom: 20px;
    } 

    #about p {
        font-size: 12px;
        text-align:center;
        width: 300px;
        margin:auto;
    } 

    #about p span {
        font-size: 20px;
        text-align: center;
    }

    #skills h2 {
        font-size: 30px;
        padding: 0 0;
    }

    #skills i {
        font-size: 40px;
        padding: 0 0;
    }

    #skills p {
        font-size: 15px;
    }

    #skills h3 {
        font-size: 20px;
        text-transform: uppercase;
    }

    #gallery h2 {
        font-size: 30px;
    }

    #gallery h3 {
        font-size: 20px;
        text-align: center;
    }

    #contact {
        height: auto;
        width: auto;
    }

    #contact i {
        font-size: 30px;
        padding-top: 0;
        padding-bottom: 20px;
    }
}

@media (min-width:992px) {
    .card-text {
        height: 40px;
    }
    img {
        height:150px;
    }
    
}


/* need update from 600 to 778ish */