* {
    box-sizing: border-box;
        /* will include padding and margin as part of height/width size */
}

body {
    /* background: #FFCB05; */
    background-image: linear-gradient(to right, red, #FFCB05);
        /* https://www.w3schools.com/css/css3_gradients.asp */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    background: #3D7DCA;
    border: 5px solid #003A70;
    color: #FFCB05;
    padding: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 25px;
}

#container {
    max-width: 1200px;
        /* max-width: flexbox container will not be greater than 1200px despite the screen size*/
    display: flex;
        /* Making this container another flexbox container */
    justify-content: center;
        /* Want it centered on smaller devices */
    flex-wrap: wrap;
}

/* Styles for Cards created in JS file */
.pokemon {
    background: #3D7DCA;
    width: 175px;
        /* "borderbox": width includes padding and border */
    padding: 10px;
    margin: 10px;
    display: flex;
        /* Each card is also a flexbox container */
    flex-direction: column;
    align-items: center;
        /* centering image and text below it horizonally because flex-direction is at column */
    border-radius: 20px;
}

.img-container{
    background-color: #003A70;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
        /*  To make img-container a flexbox container */
    justify-content: center;
        /* To center img in img-container flexbox */
}

.name {
    /* color: #003A70; */
    color: #FFCB05;
    margin-bottom: 0;
    
}